fastapi
uvicorn
pydantic
pydantic-settings

langchain
langchain-community
langchain-chroma

chromadb

sentence-transformers

transformers
torch

scikit-learn
pandas
numpy

pymongo

python-dotenv

pypdf

rapidfuzz

joblib